<!-- MENU -->
<section class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">

        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
                <span class="icon icon-bar"></span>
            </button>
            <!-- lOGO TEXT HERE -->
            <a href=@Url.Action("Index", "Home") class="navbar-brand">Dr. Flight Mode</a>
        </div>

        <!-- MENU LINKS -->
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">

                @*<li><a class="smoothScroll" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a class="smoothScroll" asp-area="" asp-controller="Home" asp-action="OurVission">Our Vision</a></li>
                <li><a class="smoothScroll" asp-area="" asp-controller="Home" asp-action="Team">Team</a></li>
                <li><a class="smoothScroll" asp-area="" asp-controller="Home" asp-action="Career">Career with us</a></li>*@
                @*Link Text,Action Method, Controler Name*@
                <li class="smoothScroll">@Html.ActionLink("Home", "Index", "Home")</li>
                <li class="smoothScroll">@Html.ActionLink("About Us", "About", "Home")</li>
                <li class="smoothScroll">@Html.ActionLink("Career with us", "Career", "Home")</li>
                <li class="smoothScroll"><a href="#contact" class="smoothScroll">Contact</a></li>
                <li class="smoothScroll">@Html.ActionLink("Register", "Register", "Home")</li>
                <li class="scroll-smooth">@Html.ActionLink("Login", "Login", "Home")</li>
                @*<li><a class="appointment-btn" asp-area="" asp-controller="Home" asp-action="Appointment">Make an appointment</a></li>*@
                <li class="appointment-btn smoothScroll">@Html.ActionLink("Make an Appointment", "Appointment", "Home")</li>
            </ul>
        </div>
    </div>
</section>
