<!-- Brand Logo -->
<a href="index3.html" class="brand-link">
    <img src="~/Areas/css/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-light">Dr. Flight Mode</span>
</a>

<!-- Sidebar -->
<div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
            <img src="~/Areas/css/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
            <a href="#" id="txtUserName" class="d-block"></a>
        </div>
    </div>

    <!-- SidebarSearch Form -->
    <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
            <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
            <div class="input-group-append">
                <button class="btn btn-sidebar">
                    <i class="fas fa-search fa-fw"></i>
                </button>
            </div>
        </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->
            <li class="nav-item menu-open">
                <a href="#" class="nav-link active">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>
                        Dashboard
                    </p>
                </a>
            </li>
            @* Communications *@
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon far fa-envelope"></i>
                    <p>
                        Communications
                        <i class="fas fa-angle-left right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>New Messages</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Archieved Messages</p>
                        </a>
                    </li>
                </ul>
            </li>
            @* Patients *@
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-book"></i>
                    <p>
                        Patients
                        <i class="fas fa-angle-left right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>New Patients</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="pages/examples/profile.html" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Follow-Up</p>
                        </a>
                    </li>
                </ul>
            </li>
            @* Reports Management *@
            <li class="nav-header">Report Management</li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-circle"></i>
                    <p>
                        Reports
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    @* 1st Level Items *@
                    <li class="nav-item">
                        <p class="nav-link">
                            <i class="nav-icon fas fa-book"></i>
                            @Html.ActionLink("Add Temp Report", "AddTempReport", "Default")
                        </p>
                    </li>
                    <li class="nav-item">
                        <p class="nav-link">
                            <i class="nav-icon fas fa-book"></i>
                            @Html.ActionLink("All Temp Reports", "AllTempReports", "Default")
                        </p>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="fas fa-dot-circle nav-icon"></i>
                            <p>New Reports</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="fas fa-dot-circle nav-icon"></i>
                            <p>Requested Reports</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="fas fa-dot-circle nav-icon"></i>
                            <p>Updated Reports</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="fas fa-dot-circle nav-icon"></i>
                            <p>Archieved Reports</p>
                        </a>
                    </li>
                    @* 2nd Level Items *@
                    @* Reports *@
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>
                                Reports
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="far fa-dot-circle nav-icon"></i>
                                    <p>Add Reports</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="far fa-dot-circle nav-icon"></i>
                                    <p>View Reports</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="far fa-dot-circle nav-icon"></i>
                                    <p>Edit Reports</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    @* Bookings *@
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>
                                Bookings
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="far fa-dot-circle nav-icon"></i>
                                    <p>Add Bookings</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="far fa-dot-circle nav-icon"></i>
                                    <p>View Bookings</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="far fa-dot-circle nav-icon"></i>
                                    <p>Edit Bookings</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    @* Items *@
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>
                                Items
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <p href="#" class="nav-link">
                                    <i class="far fa-dot-circle nav-icon"></i>
                                    @Html.ActionLink("Add Item", "AddItem", "Default")
                                </p>
                            </li>
                            <li class="nav-item">
                                <p href="#" class="nav-link">
                                    <i class="far fa-dot-circle nav-icon"></i>
                                    @Html.ActionLink("All Item", "AllItem", "Default")
                                </p>
                            </li>
                            <li class="nav-item">
                                <p href="#" class="nav-link">
                                    <i class="far fa-dot-circle nav-icon"></i>
                                    @Html.ActionLink("Edit Item", "EditItem", "Default")
                                </p>
                            </li>
                        </ul>
                    </li>
                    @* Items Description *@
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>
                                Item Descriptions
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="far fa-dot-circle nav-icon"></i>
                                    <p>Add Descriptions</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="far fa-dot-circle nav-icon"></i>
                                    <p>View Descriptions</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="far fa-dot-circle nav-icon"></i>
                                    <p>Edit Descriptions</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    @* FAQ *@
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>
                                FAQ's
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="far fa-dot-circle nav-icon"></i>
                                    <p>Add FAQ's</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="far fa-dot-circle nav-icon"></i>
                                    <p>View FAQ's</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="far fa-dot-circle nav-icon"></i>
                                    <p>Edit FAQ's</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    @* Packages *@
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>
                                Packages
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <p class="nav-link">
                                    <i class="far fa-dot-circle nav-icon"></i>
                                    @Html.ActionLink("Add Package", "AddPackage", "Default")
                                </p>
                            </li>
                            <li class="nav-item">
                                <p href="#" class="nav-link">
                                    <i class="far fa-dot-circle nav-icon"></i>
                                    @Html.ActionLink("All Package", "AllPackage", "Default")
                                </p>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="far fa-dot-circle nav-icon"></i>
                                    <p>Edit Packages</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    @* Testimonials *@
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>
                                Testimonials
                                <i class="right fas fa-angle-left"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="far fa-dot-circle nav-icon"></i>
                                    <p>Approve Testimonials</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="far fa-dot-circle nav-icon"></i>
                                    <p>View Testimonials</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    @* End of 1st Level *@
                </ul>
            </li>
            @* Specialities *@
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-book"></i>
                    <p>
                        Specialities
                        <i class="fas fa-angle-left right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <div class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            @Html.ActionLink("View Specialities", "AllSpeciality", "Default")
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            @Html.ActionLink("Add Specialities", "AddSpeciality", "Default")
                        </div>
                    </li>
                </ul>
            </li>
            @* To Do *@
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-book"></i>
                    <p>
                        To-Do
                    </p>
                </a>
            </li>
            @* Profile *@
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-book"></i>
                    <p>
                        Profile
                    </p>
                </a>
            </li>
            @* Settings *@
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-book"></i>
                    <p>
                        Settings
                    </p>
                </a>
            </li>
            @* Consult *@
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-book"></i>
                    <p>
                        Consult
                    </p>
                </a>
            </li>
            @* Health Feed *@
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-book"></i>
                    <p>
                        Health Feed
                    </p>
                </a>
            </li>
            @* Feedback *@
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-book"></i>
                    <p>
                        Feedback
                    </p>
                </a>
            </li>
            @* Logout *@
            <li class="nav-item">
                <p class="nav-link">
                    <i class="nav-icon fas fa-book"></i>
                    @Html.ActionLink("Logout", "Logout", "Default")
                </p>
            </li>

        </ul>
    </nav>
    <!-- /.sidebar-menu -->
</div>
